
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: aqua;
    text-align: center;
}

.section1{
        background-image: url(./images/pexels-goochie-poochie-grooming-3299905.jpg);
}
 
h1{
    background-color: blue;
}